@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width:  13ch;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: hsl(0, 0%, 20%);
    }
    to {
        border-right-color: transparent;
    }
}

#main {
    min-height: 50vh;
}

.typewriter {
    width: fit-content;
    color: hsl(0, 0%, 22%);
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    padding: 5px;
    margin: auto;
    animation: typewriter 1s steps(12) 1 normal both,
    blinkTextCursor 700ms infinite;
}